/* Estilo para la página */
.directory-page {
    max-width: 800px;
    margin: 100px auto 120px;
    padding: 20px;
    background: linear-gradient(45deg, #000000, #4a2401); /* Color de fondo de la página */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

/* Títulos */
h1, h2 {
    color: #333;
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
    font-style: italic;
}

#elh1{
    color: #fff;
}

/* Estilo para las secciones */
section {
    background-color: #ffffff; /* Color de fondo de cada sección */
    border: 1px solid #ddd; /* Borde suave */
    border-radius: 8px; /* Bordes redondeados para las secciones */
    padding: 20px;
    margin-bottom: 20px; /* Espacio entre secciones */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); /* Sombra leve para secciones */
}

/* Listas */
ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

/* Links */
ul li a {
    color: #058c9d;
    text-decoration: none;
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
    font-style: italic;
    font-size: 1.2rem;
}

ul li a:hover {
    text-decoration: underline;
}
