.search-results-container {
    position: absolute;
    top: 70px; /* Debajo de la navbar */
    left: 0;
    right: 0;
    background-color: rgba(1, 1, 1, 0.74);
    border: 1px solid #333232;
    padding: 20px;
    z-index: 1000;
    color: white;
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
    font-style: italic;
  }
  
  .close-button {
    background: none;
    border: none;
    font-size: 1.5rem;
    float: right;
    cursor: pointer;
    color: rgb(255, 255, 255);
  }

  .close-button:hover{
    background-color: rgba(255, 253, 253, 0.408);
  }
  
  .search-results-container ul {
    list-style-type: none;
    padding: 0;
  }
  
  .search-results-container li {
    padding: 5px 0;
  }

  .search-results-container .link {
    color: rgb(249, 152, 83);
  }

  .search-results-container .link:hover {
    color: rgb(250, 250, 250);
  }