
/* Estilos para la página del foro */
.forum-page {
    padding: 20px;
    max-width: 900px;
    margin: 0 auto;
    margin-top: 100px;
    background: linear-gradient(45deg, #000000, #4a2401);
    border-radius: 10px;
  }
  
 