body{
  background: linear-gradient(270deg, #1a732b, #0e6d29),
                url('../../images/book5.jpg');
    background-blend-mode: overlay; 
    background-size: 400% 400%, cover; 
    position: relative;
}

.overlayy {
  position: absolute; 
  top: -10vh;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(5px); 
  background-color: rgba(0, 0, 0, 0.705);
  z-index: -1; 
}


/* Estilos generales para la página "Quiénes somos" */
.about-page {
  padding: 20px;
  max-width: 800px;
  margin: auto;
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
  text-align: center;
  font-size: 1.2rem;
  margin-top: 10vh;
  background-color: #f8efd1a9; 
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  z-index: 1;
}

/* Estilos para la sección de información personal */
.about-info {
  color: white;
  text-align: center;
  background-color: #8878423d;
  /* background: linear-gradient(45deg, #000000, #4a2401);  */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); /* Sombra leve */
  z-index: 1;
  
}

.about-info p {
  color: rgb(0, 0, 0);
}

.about-info h1, h2 {
  color: #52420f;
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
  font-style: italic;
}

.profile-photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

/* Estilos para los enlaces sociales */
.social-links {
  margin: 20px 0;
}

.social-links a {
  margin: 0 10px;
  color: rgb(110, 81, 7); /* Color de LinkedIn */
}

.social-links a:nth-child(2) {
  color: rgb(108, 80, 9); /* Color de GitHub */
}

.social-links a:hover {
  text-decoration: underline; /* Subrayado al pasar el cursor */
}

/* Botón de descarga de CV */
.download-cv-btn {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #71580c; 
  color: white;
  text-decoration: none;
  border-radius: 4px;
}

.download-cv-btn:hover {
  background-color: #004e1e; /* Color de LinkedIn más oscuro */
}

.mission-vision h2, p,
.additional-info h2, p{
  margin-top: 3vh;
  z-index: 1;
  position: relative;
  color: black;
}
