/* Estilos generales para la página "Quiénes somos" */
.about-page {
  padding: 20px;
  max-width: 800px;
  margin: auto;
  font-family: Arial, sans-serif;
  margin-top: 10vh;
  background-color: #000000; /* Fondo claro para la página */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
 
}

/* Estilos para la sección de información personal */
.about-info {
  color: white;
  text-align: center;
  background: linear-gradient(45deg, #000000, #4a2401); /* Fondo blanco para la sección */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); /* Sombra leve */
}

.about-info h1, h2 {
  color: #9b7a19;
  font-family: cursive;
}

.profile-photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

/* Estilos para los enlaces sociales */
.social-links {
  margin: 20px 0;
}

.social-links a {
  margin: 0 10px;
  text-decoration: none;
  color: rgb(5, 235, 252); /* Color de LinkedIn */
}

.social-links a:nth-child(2) {
  color: rgb(5, 235, 252); /* Color de GitHub */
}

.social-links a:hover {
  text-decoration: underline; /* Subrayado al pasar el cursor */
}

/* Botón de descarga de CV */
.download-cv-btn {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #9b7a19; /* Color de LinkedIn */
  color: white;
  text-decoration: none;
  border-radius: 4px;
}

.download-cv-btn:hover {
  background-color: #005582; /* Color de LinkedIn más oscuro */
}

