# Node modules
node_modules/

# Environment variables
.env

# Logs
logs/
*.log

# Dependency directories
.pnp
.pnp.js

# dotenv environment variables file
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build files
build/
dist/

# Editor files
.vscode/
.idea/
