.overlay6 {
	position: absolute; 
	top: -100vh;
	left: 0;
	right: 0;
	bottom: -150vh;
	backdrop-filter: blur(5px); 
	background-color: rgba(0, 0, 0, 0.705);
	z-index: -1; 
  }

.password-change-container {
    max-width: 400px; /* Máximo ancho del contenedor */
    margin: 30vh auto; /* Centrar horizontalmente */
    padding: 20px; /* Espaciado interior */
    background-color: #000000; /* Color de fondo claro */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.password-change-form {
    display: flex; /* Flexbox para organizar elementos */
    flex-direction: column; /* Disposición vertical */
}

.password-change-form h2 {
    text-align: center; /* Centrar el título */
    margin-bottom: 20px; /* Espaciado inferior */
    color: #333; /* Color del texto */
}

.form-group {
    margin-bottom: 15px; /* Espaciado inferior para grupos de formulario */
}

.password-change-form label {
    display: block; /* Mostrar etiquetas como bloques */
    margin-bottom: 5px; /* Espaciado inferior */
    font-weight: bold; /* Negrita para etiquetas */
    color: #555; /* Color de las etiquetas */
}

.password-change-form input {
    width: 100%; /* Ancho completo del input */
    padding: 10px; /* Espaciado interior */
    border-radius: 4px; /* Bordes redondeados para el input */
    border: 1px solid #ced4da; /* Borde gris claro */
    font-size: 16px; /* Tamaño de fuente */
}

.password-change-form input:focus {
    outline: none; /* Quitar el contorno por defecto */
    border-color: #ffae00; /* Color de borde al enfocar */
}

.submit-button {
    width: 100%; /* Ancho completo del botón */
    padding: 10px; /* Espaciado interior */
    background-color: #cd7a05; /* Color de fondo del botón */
    color: white; /* Color del texto en el botón */
    border: none; /* Sin borde */
    border-radius: 4px; /* Bordes redondeados */
    cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
    font-size: 16px; /* Tamaño de fuente */
}

.submit-button:hover {
    background-color: #4f3902; /* Color de fondo al pasar el cursor */
}

.message {
    text-align: center; /* Centrar el mensaje */
    margin-top: 10px; /* Espaciado superior */
}

.success {
    color: green; /* Color verde para mensajes de éxito */
}

.error {
    color: red; /* Color rojo para mensajes de error */
}

/* Estilos responsivos */
@media (max-width: 600px) {
    .password-change-container {
        padding: 10px; /* Espaciado reducido en pantallas pequeñas */
    }

    .password-change-form h2 {
        font-size: 20px; /* Tamaño de fuente más pequeño para el título */
    }

    .password-change-form input {
        font-size: 14px; /* Tamaño de fuente más pequeño para inputs */
        padding: 8px; /* Espaciado interior reducido */
    }

    .submit-button {
        font-size: 14px; /* Tamaño de fuente más pequeño para el botón */
    }
}