.overlay4{
  position: absolute; 
	top: -100vh;
	left: 0;
	right: 0;
	bottom: -150vh;
	backdrop-filter: blur(5px); 
	background-color: rgba(0, 0, 0, 0.705);
	z-index: -1; 
}
.message-container{
  display: flex; /* Establece el contenedor como flexbox */
  flex-direction: column;
}

/* UserProfile.css */
.profile-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 5vh;
    margin-top: 15vh;
  }
  
  .profile-header {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #f4f4f4;
    border-bottom: 1px solid #ddd;
    position: fixed;
    top: 5vh;
    left: 0;
    width: 34vh;
    height: 20vh;
    z-index: 1;
    
  }
  
  .profile-image {
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    margin-right: 10px;
    
  }
  
  .username {
    font-size: 20px;
    font-weight: bold;
    margin-top: 2vh;
  }

  
  .sidebar {
    width: 250px;
    background: #f4f4f4;
    padding: 18px;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    margin-top: 20vh;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 5vh;
  }
  
  .sidebar li {
    margin: 10px 0;
  }
  
  .sidebar a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    display: flex;
    align-items: center;
  }
  
  .content {
    margin-left: 250px; /* Alinea el contenido a la derecha de la barra lateral */
    padding: 20px;
  }

  .section-box {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    background-color: #fff;
    margin-left: -25vh;
    max-width: 500px;
    flex: 1;
    position: absolute;
  }
  
  .section-box h3 {
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
    font-style: italic;
    text-align: center;
    margin-top: 2vh;
  }
  
  .section-box p {
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
    font-style: italic;
    margin: 5vh;
  }

  .section-box2 h3 {
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
    font-style: italic;
    margin-top: 2vh;
  }
  
  .section-box2 p {
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
    font-style: italic;
    margin: 5vh;
  }

  .section-box2 button {
    padding: 10px;
    border-radius: 10px;
    background-color: green;
    color: white;
    cursor: pointer;
  }

  .section-box2 button:hover {
 
    background-color: rgb(3, 69, 3);
   
  }

  .change-password-btn{
    background-color: #d6933b;
    padding: 10px;
    color: white;
    border-radius: 10px;
    border: none;
  }
  .change-password-btn:hover{
    background-color: #3e2708;
  }
  .delete-account-btn{
    background-color: #d6933b;
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin-left: 10px;
  }
  .delete-account-btn:hover{
    background-color: #3e2708;
  }

  .section-box form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.section-box2 form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}


.section-box input[type="text"], textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    resize: none; /* Evitar que el textarea se redimensione */
}

.section-box input[type="text"] {
    width: 100%;
}

.section-box textarea {
    height: 100px;
}

.section-box input[type="text"]:focus,
textarea:focus {
    border-color: #ffcc00;
    outline: none;
}

.suggestions {
    list-style-type: none;
    padding: 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    max-height: 150px; /* Limitar la altura de las sugerencias */
    overflow-y: auto; /* Habilitar scroll si es necesario */
    background-color: white;
    position: absolute; /* Posicionamiento relativo al input */
    z-index: 1000; /* Asegura que las sugerencias se muestren sobre otros elementos */
}

.suggestions li {
    padding: 10px;
    cursor: pointer;
}

.suggestions li:hover {
    background-color: #f0f0f0; /* Resaltar al pasar el mouse */
}

.section-box2{
  position: relative;
  margin-left: 50vh;
  margin-top: 0vh;
  border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    background-color: #fff;
    z-index: 1000;
    flex-shrink: 0;
}

.section-box3 {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  background-color: #fff;
  margin-left: 0vh;
  max-width: 500px;
  flex: 1;
  position: absolute;
}

.section-box4 {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  background-color: #fff;
  margin-left: -25vh;
  max-width: 500px;
  flex: 1;
  position: absolute;
}

.section-box3 h3 {
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
  font-style: italic;
  text-align: center;
  margin-top: 2vh;
}

.section-box3 p {
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
  font-style: italic;
  margin: 5vh;
}

.section-box3 h3 {
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
  font-style: italic;
  margin-top: 2vh;
}

.section-box3 p {
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
  font-style: italic;
  margin: 5vh;
}

.section-box3 button {
  padding: 10px;
  border-radius: 10px;
  background-color: green;
  color: white;
  cursor: pointer;
}

.section-box3 button:hover {

  background-color: rgb(3, 69, 3);
 
}

/* _________________________ */

.section-box4 h3 {
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
  font-style: italic;
  text-align: center;
  margin-top: 2vh;
}

.section-box4 p {
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
  font-style: italic;
  margin: 5vh;
}

.section-box4 h3 {
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
  font-style: italic;
  margin-top: 2vh;
}

.section-box4 p {
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
  font-style: italic;
  margin: 5vh;
}

.section-box4 button {
  padding: 10px;
  border-radius: 10px;
  background-color: green;
  color: white;
  cursor: pointer;
}

.section-box4 button:hover {

  background-color: rgb(3, 69, 3);
 
}