
.bodyGradient{
  background: linear-gradient(45deg, #000000, #4a2401);
  height: 100vh;
}

.published-essays {
    padding: 20px;
    background-color: #ffffffee;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 9vh;
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
    font-style: italic;
  }
  
  .published-essays h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
    font-style: italic;
  }
  
  .published-essays ul {
    list-style-type: none;
    padding: 0;
  }
  
  .published-essays li {
    background-color: #c9c9c9;
    margin: 10px 0;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }
  